<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stephen.furniturerepair">

    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.SApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.stephen.furniturerepair.gui.activity.guide.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--引导界面-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <!--欢迎界面-->
        <activity android:name="com.stephen.furniturerepair.gui.activity.guide.SplashActivity" />
        <!--发单界面-->
        <activity android:name="com.stephen.furniturerepair.gui.activity.IssuanceActivity"/>
        <!-- 登录注册 -->
        <activity android:name=".gui.activity.login.RegistActivity" />
        <activity android:name=".gui.activity.login.LoginActivity" android:launchMode="singleTop" />
        <activity android:name=".gui.activity.login.RegistInfoActivity" />
        <activity android:name=".gui.activity.login.ForgetPasswordActivity" />

        <!--发单接单入口-->
        <activity android:name="com.stephen.furniturerepair.gui.activity.EntranceActivity" />
        <!--我的界面-->
        <activity android:name="com.stephen.furniturerepair.gui.activity.four.MineActivity" />
        <activity android:name="com.stephen.furniturerepair.gui.activity.four.MineInfoActivity" />
        <activity android:name="com.stephen.furniturerepair.gui.activity.four.ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize"/>

        <!-- 百度位置 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IRR0lQI7INPqWcaIUxlS8p2zQ7WBY5Uo" />

    </application>

</manifest>